* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: purple;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 240px;
  background-color: black;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.display {
  text-align: right;
  width: 100%;
  background-color: pink;
  padding: 10px;
  font-size: 30px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: gray;
  color: white;
}
